* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
}

.field-group {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1rem;
}

input[type="submit"] {
    width: 30%;
    margin: 0 auto;
    padding: .5rem;
    border-radius: 1rem;
}